@media screen and ();
.form-group {
  padding: 10px;
}

.jumbotron {
  text-align: center;
  margin-top: 15px;
  opacity: .60;
}

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

/* Style the links inside the navigation bar */

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

/* Style the search box inside the navigation bar */

.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

body {
  background-image: url(../img/doodle.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Permanent Marker', cursive;
  color: black;
}

.well {
  opacity: .60;
  text-align: center;
}

h2 {
  text-align: center;
}

.btn {
  font-size: 40px;
  margin-right: 40px;
}

legend {
  text-align: center;
  color: black;
  font-size: 1.75em;
}

.mathematics, .languages, .computerScience {
  /*display: none;*/
}

li {
  font-size: 30px;
  display: inline-block;
  margin: 20px;
  cursor: pointer;
}

ul :hover {
  color: red;
}
/*Ian's junk */
.eachCard {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border: solid 2px black;
  width: 35em;
  height: 20em;
  background-color: white;
}

.cardFront {
  font-size: 23pt;
}

.cardMarker {
  padding-bottom: 80px;
  padding-left: 99%;
}

#checkMark {
  float: left;
}

.cardBack {
  padding: 80px;
  padding-top: 0;
  text-align: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  display: none;
}
