@media screen and ();
.form-group {
  padding: 10px;
}

.jumbotron {
  text-align: center;
  margin-top: 15px;
  opacity: .70;
}

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

/* Style the links inside the navigation bar */

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

/* Style the search box inside the navigation bar */

.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

body {
  background-image: url(../img/doodle.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Permanent Marker', cursive;
  color: black;
}

.well {
  opacity: .70;
  text-align: center;
}

.makeCard {
  opacity: .85;
}

h2 {
  text-align: center;
}

#computerScienceButton, #mathematicsButton, #languageButton {
  font-size: 40px;
  margin-right: 40px;
}

h2 {
  text-align: center;
  color: black;
  font-size: 1.75em;
}

ul li {
  font-size: 30px;
  display: inline-block;
  margin: 20px;
  cursor: pointer;
}

ul :hover {
  color: red;
}

ol li {
  list-style-position: inside;
}

.panel {
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  width: 550px;
}

.makeCard, .displaySingleCard, .displayCardList, .mathematics, .languages, .computerScience, #categoryHeader {
  display: none;
}

.about {
  font-family: 'Lato', sans-serif;
  font-size: 14pt;
}
