@media screen and ();
.form-group {
  padding: 10px;
}

.jumbotron {
  text-align: center;
  margin-top: 15px;
  opacity: .85;
}

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
  border-radius: 5px;
  font-family: 'Lato', sans-serif;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: #2196F3;
  color: white;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

body {
  background-image: url(../img/doodle.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Permanent Marker', cursive;
  color: black;
}

.well {
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
}

.makeCard, .editCard {
  opacity: .85;
  font-family: 'Lato', sans-serif;
}

h2 {
  text-align: center;
}

#computerScienceButton, #mathematicsButton, #languageButton {
  font-size: 40px;
  margin-right: 40px;
  margin-top: 15px;
}

h2 {
  text-align: center;
  color: black;
  font-size: 1.75em;
}

ul li {
  font-size: 30px;
  display: inline-block;
  margin: 20px;
  cursor: pointer;
}

ul :hover {
  color: red;
}

.displayCard {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  align-content: space-between;
  font-family: 'Lato', sans-serif;
}

ol li {
  list-style-position: inside;
}

<<<<<<< HEAD
#makeOrViewCard, .makeCard, .displayCard, .mathematics, .languages, .computerScience, #categoryHeader {
=======
#makeOrViewCard, .makeCard, .displaySingleCard, .displayCard, .mathematics, .languages, .computerScience, #categoryHeader, .editCard, #chooseMakeCategory, .makeCategory {
>>>>>>> 9d08f5e8fbefb38d430618a64fb1a7f59a600b92
 display: none;
}

.about, .contact {
  font-family: 'Lato', sans-serif;
  font-size: 14pt;
  opacity: .85;
}

#singleCard {
  perspective: 1000px;
  margin: 0 auto;
  width: 400px;
  height: 250px;
}

#singleCard p {
  text-align: center;
  margin-top: 100px;
  font-size: 14pt;
  color: black;
}

#singleCard:hover .flipper, #singleCard.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container p {
  text-align: center;
  margin-top: 100px;
  font-size: 14pt;
  color: black;
}

/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
  margin: 0 auto;
  margin: 10px;
  display: inline-block;
}

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container, .front, .back {
  width: 400px;
  height: 250px;
  color: white;
}

.front, .back {
  background-image: url(../img/paper.jpg);
}

/* flip speed goes here */
.flipper {
  width: 400px;
  height: 250px;
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}

#chooseMakeCard, #chooseViewCards, #chooseViewSlider, #chooseEditCard, #chooseMakeCategory, .displaySingleCard, .displayCard, .makeCategory {
  font-family: 'Lato', sans-serif;
}

.active {
  color: red;
}

#homeTab {
  margin-left: 15%;
}

.glyphicon-chevron-left {
  float: left;
  position: relative;
  top: 125px;
  margin-left: 15%;
  font-size: 2em;
}

.glyphicon-chevron-right {
  float: right;
  position: relative;
  top: 125px;
  margin-right: 15%;
  font-size: 2em;
}

.searchBar {
  font-family: 'Lato', sans-serif;
  margin-right: 15%;
}

#searchTermButton {
  display: block;
  float: right;
  font-size: 17px;
  text-align: center;
  margin-top: 8px;
  height: 38px;
  border-radius: 0px;
  border: none;
  text-decoration: none;
  border: 1px;
  color: white;
  border-left: 0px;
  border-style: solid;
  border-color: #2C98F0;
  background-color: #2C98F0;
}

#userTermSearch {
  margin-right: 0px;
  border: 1px;
  border-right: 0px;
  border-style: solid;
  border-color: #2C98F0;
}

input[type=checkbox]  {
  zoom: 2;
  float: left;
  margin-left: 5px;
}

.editButton {
  float: right;
  margin-right: 8px;
  margin-top: 8px;
}

#makeOrViewCard {
  margin-top: 15px;
}

.activeSubject {
  outline: 10px auto lime;
  outline-offset: -2px;
}
